@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth !important;
}
/* body {
  position: relative;
} */
.hero {
  min-height: 100vh;
}
.hero-text{
  height: calc(100vh - 109px);
}
